{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/interfaces/*.ts",
    "**/*.spec.ts"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "check-coverage": true,
  "lines": 99,
  "statements": 100,
  "functions": 99,
  "branches": 99,
  "all": true
}